 /* Home.css */

 
 





.thanu {
    background-color: #e3e1e6; /* Set your desired background color */
    padding: auto ;
    margin: 20px;
    border: 2px solid #c0b8b8;
    border-radius: 10px;
    text-align: center;
  }
  
  .thanu p {
    font-size: 1.2em;
    color: #7c6d6d;
  }
  
  .thanu h1 {
    font-size: 2em;
    color: #007bff; /* Set your desired text color */
    margin-bottom: 120px;
  }
  .lin4 {
     max-width: 30%;
    height: auto;
    border: 0px solid #c0b8b8;
    border-radius : 130px;

  }
  